@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import "../scss/config";

.home {
  // padding: 70px 0 50px;
  // height: calc(100vh -84px);
  h1 {
    font-family: "Architects Daughter";
    font-size: 48px;
    margin: 10px 0;
  }
  img {
    max-width: 90%;
  }
  .top-drinks {
    img {
      width: 22.5%;
      max-width: 123.5px;
    }
  }
  h2 {
    font-size: 30px;
    margin: 25px 0 15px;
  }
  .locations {
    text-align: left;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .location {
      background-color: white;
      padding: 0 10px;
      margin-bottom: 10px;
      border: 2px solid lightgrey;
      h3 {
        margin: 15px 0 10px;
        font-size: 23px;
      }
      p {
        margin: 0;
        font-size: 18px;
        color: black;
      }
      .hours {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 250px;
        ul {
          padding-left: 10px;
          li {
            list-style-type: none;
            font-size: 18px;
            color: black;
          }
        }
      }
    }
  }
}
