$milkcap: #f8efe7;
$fruity: #DDAA44;
$myred: rgb(255, 0, 64);

@mixin buttons(){
  background-color: $myred;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 2px 1px white;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 20px;
  padding: 7px 15px;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    // box-shadow: 0 0 5px 2px green;
    background-color: green;
    color: white;
  }
}