@import "./scss/config";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1200px;
  // margin: auto;
  h3 {
    color: $milkcap;
    font-size: 19px;
    margin: 0;
    padding: 5px;
  }
  a {
    font-size: 20px;
    padding: 5px;
    color: red;
  }
}